* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

ul{
  padding: 0;
}
.route-li{
  list-style-type: none;
}

/*For selection*/
.route-li, .planetdetailbtn{
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}

.planetdetailbtn{
  display: block;
}
.planetdetailbtn#hover{
  background-color: grey;
}

.area{
  margin: 1em 0 1em 0;
}

.output{
  display: inline-block;
  max-width: 50%;
}

.details{
  display: inline-block;
  max-width: 50%;
  margin-left: 10%;
  vertical-align: top;
}

.splinter{
  display: block;
}